<%- include('./layout/_header') %>
<div id="app">
  <div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button-counter></button-counter>
  </div>
</div>

<%- include('./layout/_scripts') %>
<script src="/javascripts/components/Header.js"></script>
<script src="/javascripts/vue/index.js"></script>

<%- include('./layout/_header') %>