<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/css/style.css" />
  <meta name="theme-color" content="#de4be1" />
  <link rel="manifest" href="/manifest.json">
</head>

<body>